<div>
  <app-nav-bar></app-nav-bar>
    <div class="main-create-container">

  <div>
    <div class="pizza-list"></div>

    {{menuData["Base"]}}
    <div class="pizza-menu">
      <ngb-tabset [justify]="currentJustify">

        <div  *ngFor="let key of objectKeys(menuData)">
        <ngb-tab title="{{key}}" >
            <ng-template ngbTabContent>
               <ngb-alert [dismissible]="false">
                    <div class="item-requirement">
                      <div *ngIf = "menuData[key]['req']['required']" class="item-requirement-item">
                        <strong>This is required</strong>
                      </div>
                       <div  *ngIf = "!menuData[key]['req']['required']"  class="item-requirement-item">
                        <strong>This is optional</strong>
                      </div>
                      <div  *ngIf = "menuData[key]['req']['min']"  class="item-requirement-item">
                        <strong>Minimum allowed {{menuData[key]['req']['min']}}</strong>
                      </div>
                      <div  *ngIf = "menuData[key]['req']['max']"  class="item-requirement-item">
                        <strong>Maximum allowed {{menuData[key]['req']['max']}}</strong>
                      </div>
                      <div  *ngIf = "menuData[key]['req']['no-limit']"  class="item-requirement-item">
                        <strong>No limits</strong>
                      </div>
                    </div></ngb-alert>
              <ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = false">{{errorMessage}}</ngb-alert>

              <div *ngFor="let data of menuData[key]['list'] ; let i = index" [attr.data-index]="i">
                <div class="menu-items">
                  <div class="menu-item-name">
                    <b>{{data["name"] +" ( Rs. " +data["price"] + ") "}}</b>
                  </div>
                  <div  class="item-add-container">
                    <button class="item-add-button" (click) = "addItemToPizza(key,i,-1)" *ngIf = "data['count']!=0" > - </button>
                    {{data["count"]}}
                    <button class="item-add-button" (click) = "addItemToPizza(key,i,1)" > + </button>
                  </div>
                </div>
                <hr>
              </div>
            </ng-template>
        </ngb-tab>
       </div>



      </ngb-tabset>

    </div>


    <div class="pizza-create-current"></div>

  </div>
  <div class="create-pizza-button-container">
    <p><b>Start Creating your own pizza</b></p>
    <button class="btn btn-danger">create pizza</button></div>
  </div>

</div>
