<div>
    <div class="main-create-container">

  <div *ngIf="showCreatePizzaView">
    <div class="pizza-list "></div>

    <div class="pizza-menu">
      <ngb-tabset [justify]="currentJustify">

        <div  *ngFor="let key of objectKeys(menuData)">
        <ngb-tab title="{{key}}" >
            <ng-template ngbTabContent>
               <ngb-alert [dismissible]="false">
                    <div class="item-requirement">
                      <div *ngIf = "menuData[key]['req']['required']" class="item-requirement-item">
                        <strong>This is required</strong>
                      </div>
                       <div  *ngIf = "!menuData[key]['req']['required']"  class="item-requirement-item">
                        <strong>This is optional</strong>
                      </div>
                      <div  *ngIf = "menuData[key]['req']['min']"  class="item-requirement-item">
                        <strong>Min. needed {{menuData[key]['req']['min']}}</strong>
                      </div>
                      <div  *ngIf = "menuData[key]['req']['max']"  class="item-requirement-item">
                        <strong>Max. allowed {{menuData[key]['req']['max']}}</strong>
                      </div>
                      <div  *ngIf = "menuData[key]['req']['no-limit']"  class="item-requirement-item">
                        <strong>No limits</strong>
                      </div>
                    </div></ngb-alert>
              <ngb-alert *ngIf="!staticAlertClosed"type = "danger" (close)="staticAlertClosed = false">{{errorMessage}}</ngb-alert>

              <div *ngFor="let data of menuData[key]['list'] ; let i = index" [attr.data-index]="i">
                <div class="menu-items">
                  <div class="menu-item-name">
                    <b>{{data["name"] +" ( Rs. " +data["price"] + ") "}}</b>
                  </div>
                  <div  class="item-add-container">
                    <button class="item-add-button" (click) = "addItemToPizza(key,i,-1)" *ngIf = "data['count']!=0" > - </button>
                    {{data["count"]}}
                    <button class="item-add-button" (click) = "addItemToPizza(key,i,1)" > + </button>
                  </div>
                </div>
                <hr>
              </div>
            </ng-template>
        </ngb-tab>
       </div>



      </ngb-tabset>

    </div>


    <div class="pizza-create-current">

      <button class ="btn btn-danger" (click)="addAnother()">save and add another</button>
      <button class ="btn btn-danger" (click)="checkout()">Checkout</button>
    
    </div>
 
  </div>
  <div *ngIf="!showCreatePizzaView" class="create-pizza-button-container">
      <img src="assets/images/pizza.png" width = "150px" class="pizza-image" alt="image">
      <br/>

    <p><b>Start Creating your own pizza</b></p>
    <button class="btn btn-danger" (click)="createPizza()">create pizza</button></div>
  </div>

</div>
